section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border-radius: 10px;

}
h2{
    margin:0;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: rgba(196, 196, 196);
    width: 100%;
    text-align: left;
    border-bottom: 2px;

}

.container{
    min-height: 500px;
}


.textbox{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(196, 196, 196);
}

textarea{
    min-width: 300px;
    min-height: 150px;
}
button{
    background-color:rgb(1, 128, 1);
    color:rgb(255, 255, 255);
}

.CopaSulamericana{
    margin: 2em 0 0;
    padding: 10px;
    width:500px;
    border: 1px solid;
    border-radius:5px;
}

.tecnico{
    background-color:red;
}

.pontaEsquerda{
    background-color:orange;
}